div
    h1 Bem vindo, {{ nome }}
    div(class="container")
        div(class="row mt-30")
            //- section(class="auto-marg")
            div(class="card auto-marg-left")
                img(class="card-img-top perfil" src="../../assets/img/imagem_lutador.jpg" alt="Imagem do lutador")
                div(class="card-body text-left")
                    h5(class="card-text") Nível {{ nivel }}
            div(class="ml-10 auto-marg-right")
                div(class="card-body" style="width:500px;")
                    div(class="row")
                        h2(class="text-left card-text col-sm-12") Lutador
                    div(class="row")
                        div(class="text-left mt-50 col-sm-2")
                            h5(class="card-text") HP
                            h5(class="card-text mt-20") MP
                        div(class="text-left mt-50 col-sm-10")
                            div(class="progress mt-05" style="height: 20px;")
                                div(class="progress-bar" role="progressbar" style="width: 75%; background-color: #e61e31 !important;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100")
                            div(class="progress mt-20" style="height: 20px;")
                                div(class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100")