.dp-inline-block {
    display: inline-block;
}

.dp-block {
    display: block;
}

form.card {
    padding: 20px;
    /* 
        Box-shadow é para deixar sombreado os elementos.
        O primeiro pixel é a horizontal.
        O segundo pixel é a vertical.
        O terceiro pixel é onde a sombra fica no elemento.
    */
    box-shadow: 5px 5px 16px rgba(0,0,0,0.5);
}

/* Tamanho form */
.form-login {
    width: 350px;
}

.form-cadastro {
    width: 400px;
}

/* Tamanho buttons */
.btn-submit {
    width: 100%;
}

/* Margins */
.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-30 {
    margin-top: 30px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-30 {
    margin-bottom: 30px;
}

.auto-marg {
    margin: 0 auto;
}

.vert-marg10 {
    margin: 10px 0;
}

.vert-marg20 {
    margin: 20px 0;
}

/* Textos */
.center {
    text-align: center;
}