//- Div login
div
    h1 {{ msg }}
    div(class="mt-30 container")
        div(class="row")
            form(class="auto-marg form-login card")
                h2 Login
                div(class="form-group")
                    input(type="text" v-model="login" class="form-control" aria-describedby="emailHelp" placeholder="Email")
                div(class="form-group")
                    input(type="password" v-model="pass" class="form-control" placeholder="Password")
                button(type="button" v-on:click="login_usuario()" class="btn btn-primary btn-submit mb-30") Sign in
                a(href="/#/" class="dp-block") Esqueceu sua senha?
                a(href="/#/cadastro" class="dp-block") Ainda não é um lutador? Cadastre-se agora!
        div(class="row mt-20")
            div(class="auto-marg")
                div(v-if="erro_login == true" class="mt-40 alert alert-danger" role="alert") Preencha todos os campos!
                div(v-if="sucesso_login == true" class="mt-40 alert alert-success" role="alert") Cadastro realizado com sucesso!
